<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoTestCase">
	<test name="Dummy Test">
		<classes> 
		<class name="basicTestng.TestRun_01" > 
		 <methods>
		 <exclude name="testRun01" >
		 </exclude>
		 </methods>
		</class>
		</classes>
		</test>
		
		<test name="Dummy Test-02" >
		<classes>
			<class name="basicTestng.TestRun_02">
				<methods>
					<exclude name="moblielogin" />
					<exclude name="weblogin"/>
				</methods>
			</class>



		</classes>


	</test> <!-- Test -->
</suite> <!-- Suite -->
