<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Dummy Suite">
  <test thread-count="5" name="Dummy Test">
    <classes>
      <class name="basicTestng.TestRun_01">
      <methods> <include name="testRun01"/>
      </methods>
      </class>
      
      <class name="basicTestng.TestRun_02"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
